.mycontainer{
    width: 800px;
    margin: auto;
    display: flex;
}

.card{
    width: 350px;
    border: 5px solid;
}

.card2{
    display: flex;
}

.photo{
    width: 100px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
